/**
 * _base.scss
 */

@font-face {
    font-family: 'NotoSansArmenian-Bold';
    src: url(../../font/rounded-mplus-1p-bold.ttf);
}
@font-face {
    font-family: 'fontawesome-webfont';
    src: url(../../font/fontawesome-webfont.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'NotoSansArmenian-Bold' !important;
    text-align: center;
    color: #797979;
}

h1, h2, h3, h4 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

dl, dt, dd {
    margin: 0;
    padding: 0;
}

.common-button {
    display: block;
    border: rgba(140, 200, 10, 1) solid 3px;
    border-radius: 5px;
    color: rgba(140, 200, 10, 1);
    width: 300px;
    height: 60px;
    line-height: 60px;
    font-size: 2em;
    margin: 0 auto;
}

.small-button {
    display: inline-block;
    border: rgba(140, 200, 10, 1) solid 3px;
    border-radius: 5px;
    color: rgba(140, 200, 10, 1);
    width: 100px;
    height: 24px;
    line-height: 24px;
    font-size: 0.7em;
    text-align: center;
}

header.common-page {
    display: flex;
    width: 98%;
    padding: 1%;
    text-align: left;
    color: rgba(140, 200, 10, 1);
    div.page-logo {
        width: 40px;
        height: 40px;
        font-size: 2.3em;
        border-radius: 24px;
        border: 4px solid rgba(140, 200, 10, 1);
        text-shadow: rgba(140, 200, 10, 0.8) -10px -10px;
        text-align: center;
    }
    div.page-title {
        margin-left: 10px;
        font-weight: bold;
        font-size: 2.0em;
    }
}

.navigate {
    width: 100%;
    height: 52px;
    line-height: 52px;
    font-size: 1.3em;
    background-color: #DFDFDF;
    a {
        display: inline-block;
        width: 160px;
        color: #797979;
    }
    a:hover {
        background-color: #F0F0F0;
    }
}

.dialog {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(230, 230, 230, 0.60);
}
