/**
 * site.scss
 */
@import 'base';

.contents {
    text-align: left;
    margin: 20px 40px;
    .contents-title {
        font-size: 1.8em;
        color: rgba(140, 200, 10, 1);
    }
    .contents-list {
        margin: 20px 10px;
        font-size: 1.4em;
        > li {
            position: relative;
            line-height: 2.0em;
            padding-left: 20px;
            border-top: 2px solid #F0F0F0;
            > a {
                position: absolute;
                top: 8px;
                right: 40px;
            }
        }
        > li:last-child {
            border-bottom: 2px solid #F0F0F0;
        }
    }
}

